@import "./base.css";

:root {
  --primary-color: #000;
  --secondary-color:#fdfce2;
  --btn-shadows: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --shadows: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#app {
  display: block;
  margin: 0 auto;
  font-weight: normal;
}