@import './base.css';

/* **== ROOT VARIABLES ==** */
:root {
    --primary-color: #385F73;
    --bold-font: 600;
    --btn-hover-scale: scale(1.2);;
    ;
}

#app {

}

/* Adjusts app pages height from the top of the app */
#app-pages-global-styling {
    margin-top: -77px;
}


/* MAKE SINGLE COMPONENT FOR THIS !!!!!!!! */
/* Page Hero Styling */
.hero-meta-data {
    position: relative;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    max-width: 1440px;
    height: 45vh;
    color: #fff;
    padding-bottom: 3rem;
}
/* Hero Image Meta data */
.hero-meta-data::after {
    content: "";
    position: absolute;
    background: linear-gradient(77deg, rgba(43, 43, 43, 0.274), transparent 85%);
    top: 0;
    left: -20rem;
    height: 45vh;
    opacity: 1;
    right: 10%;
    z-index: 1;
}

.hero-title {
    font-weight: var(--bold-font) !important;
    z-index: 2;
}
.hero-text {
    z-index: 2;
}